# This is a comment, to show how #-prefixed lines are ignored.
# It is possible to specify requirements as plain names.
flask >= 2.2.2
Flask-SQLAlchemy >= 3.0.2
requests >= 2.28.1
prometheus-client >= 0.15.0
prometheus_flask_exporter >= 0.20.3
pytest-testinfra >= 6.8.0
